<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulario de Personas</title>
</head>

<body>
    <h1 th:text="${persona.numCedula == null} ? 'Nueva Persona' : 'Editar Persona'"></h1>
    <form th:action="@{/personas}" th:object="${persona}" method="post">
        <input type="hidden" th:field="*{numCedula}" />
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" />
        <label>Apellido:</label>
        <input type="text" th:field="*{apellido}" />
        <label>Email:</label>
        <input type="text" th:field="*{email}" />
        <label>Telefono:</label>
        <input type="text" th:field="*{telefono}" />     
        <label>Direccion:</label>
        <input type="text" th:field="*{direccion}" /> 
        <button type="submit">Guardar</button>  
    </form>
    <a href="/personas">Volver a la Lista</a>
</body>

</html>